Date: Mon, 17 Oct 2016 15:36:52 +0500
Subject: FW: Compliance requirements
From: "Rachel" <rachel@formationshouse.com>
To: "'Oliver'" <oliver@formationshouse.com>,
	"'sarah'" <sarah@formationshouse.com>,
	"'Steve Smith \(Formations House\)'" <steve@formationshouse.com>,
	"'Felix Almeida'" <felix@formationshouse.com>
CC: <shawn@formationshouse.com>,
	<michaelgomes@formationshouse.com>

Hi,

 

Valid identification documents required for UK Company Formation:

 

- Those resellers/agents regularly placing orders with us for company formation, we would require their identification documents.

-We would now require shareholders identification documents as well along with the directors documents.

- if the agent/reseller doesn't want to supply their ID documents and only give the MLR certificate that's ok but then they have to make sure it's their customer who is appointed director/secretary/shareholder on the new company and not them.

 

Best Regards,

 

Rachel

Formations House

 

From: Rachel [mailto:rachel@formationshouse.com] 
Sent: Monday, October 17, 2016 3:04 PM
To: 'Charlotte Pawar'
Subject: RE: Compliance requirements

 

Hi Charlotte, 

 

Re: Compliance requirements, most of our old agents/resellers won’t provide identification documents, do we still require documents and once they provide only than we proceed with the company formation orders?

 

Also if the resellers have MLR certificates, do we still need identification documents of the resellers/agents along with the director and shareholders documents?

 

Please advise

 

Rachel
Formations House

 

From: Charlotte Pawar [mailto:charlotte@formationshouse.com] 
Sent: Friday, October 14, 2016 7:57 PM
To: 'Rachel'; 'Oliver'; 'Sarah'; 'Steve Smith (Formations House)'; 'Felix Almeida'; 'Michael Gomes'; shawn@formationshouse.com
Cc: 'Syed Fahad Waheed'
Subject: Compliance requirements

 

Dear Team

 

As you know we are regulated under HMRC policy for Money Laundering Regulations, as we are a business services provider.

To maintain this they expect a  high level of compliance in how we address the Know Your Customer policy

 

We have always had a high level of compliance but the UK laws are strict and getting stricter and so I have reviewed our current processes and want to just remind everyone of what we need to do

 

In terms of who our customer is:

If the director of the company is the person who places the order with us, then the director is the customer and we require the ID docs for that person and any other officer or shareholder who is appointed.

If some else such as an agent/ reseller places the order for a company with a director (not the agent themselves as the director) then we need the agents ID documents as they are paying us and therefore considered our customer, and we also need the director/ shareholder documents, 

The exception to this is if the agent is themselves regulated under MLR, and they have emailed to us stating they hold the required ID docs for the company they are incorporated with us. We will then require a scan copy of the agents MLR certificate and their ID documents. We should ensure the Passport date for the ID is valid and if it expires and the agent is still placing orders we will need to request a copy of their new passport too, and at the same time ask for new proof of address

 

Please read the attached carefully, regardless of sales or support I would like you all to know the attached information

Please all save the below link to your favourites

 

formationshouse.com/highriskjurisdiction.php 

Username: formationshouse

Password: harleystreet

 

Any questions please email

 

thanks

 

Kind Regards,

 

 <http://www.accountscentre.com/> Formations House Logo w textCharlotte Pawar 

      

 

 

 

 

 

 

Harley Street, W1

 

Main Sales/Support: +44 207 255 2557

Local London: +44 207 612 4888

 



__________ Information from ESET NOD32 Antivirus, version of virus signature database 14225 (20161004) __________

The message was checked by ESET NOD32 Antivirus.

http://www.eset.com



__________ Information from ESET NOD32 Antivirus, version of virus signature database 14225 (20161004) __________

The message was checked by ESET NOD32 Antivirus.

http://www.eset.com

Hi,
Valid identification documents
required for UK Company Formation:
- Those resellers/agents
regularly placing orders with us for company formation, we would require their
identification documents.
-We would now require
shareholders identification documents as well along with the directors
documents.
- if the agent/reseller doesn't
want to supply their ID documents and only give the MLR certificate that's ok
but then they have to make sure it's their customer who is appointed
director/secretary/shareholder on the new company and not them.
Best Regards,
Rachel
Formations House
From:
Rachel
[mailto:rachel@formationshouse.com]
Sent:
Monday, October 17, 2016 3:04 PM
To:
'Charlotte Pawar'
Subject:
RE: Compliance requirements
Hi
Charlotte,
Re:
Compliance requirements, most of our old agents/resellers won’t provide
identification documents, do we still require documents and once they provide
only than we proceed with the company formation orders?
Also if
the resellers have MLR certificates, do we still need identification documents
of the resellers/agents along with the director and shareholders documents?
Please
advise
Rachel
Formations House
From:
Charlotte Pawar
[mailto:charlotte@formationshouse.com]
Sent:
Friday, October 14, 2016 7:57 PM
To:
'Rachel'; 'Oliver'; 'Sarah'; 'Steve Smith (Formations House)';
'Felix Almeida'; 'Michael Gomes'; shawn@formationshouse.com
Cc:
'Syed Fahad Waheed'
Subject:
Compliance requirements
Dear Team
As you know we are regulated under HMRC
policy for Money Laundering Regulations, as we are a business services
provider.
To maintain this they expect a  high
level of compliance in how we address the Know Your Customer policy
We have always had a high level of
compliance but the UK laws are strict and getting stricter and so I have
reviewed our current processes and want to just remind everyone of what we need
to do
In terms of who our customer is:
If the director of the company is the
person who places the order with us, then the director is the customer and we
require the ID docs for that person and any other officer or shareholder who is
appointed.
If some else such as an agent/ reseller
places the order for a company with a director (not the agent themselves as the
director) then we need the agents ID documents as they are paying us and
therefore considered our customer, and we also need the director/ shareholder
documents,
The exception to this is if the agent is
themselves regulated under MLR, and they have emailed to us stating they hold
the required ID docs for the company they are incorporated with us. We will
then require a scan copy of the agents MLR certificate and their ID documents.
We should ensure the Passport date for the ID is valid and if it expires and
the agent is still placing orders we will need to request a copy of their new
passport too, and at the same time ask for new proof of address
Please read the attached carefully, regardless
of sales or support I would like you all to know the attached information
Please all save the below link to your
favourites
formationshouse.com/
highriskjurisdiction.php
Username:
formationshouse
Password:
harleystreet
Any questions please email
thanks
Kind
Regards,
Charlotte Pawar
Harley
Street, W1
Main Sales/Support: +44 207 255 2557
Local London: +44 207 612 4888
__________ Information from ESET NOD32 Antivirus, version of virus signature database
14225 (20161004) __________
The message was checked by ESET NOD32 Antivirus.
http://www.eset.com
__________ Information from ESET NOD32 Antivirus, version of virus signature
database 14225 (20161004) __________
The message was checked by ESET NOD32 Antivirus.
http://www.eset.com
__________ Information from ESET NOD32 Antivirus, version of virus signature database 14225 (20161004) __________
The message was checked by ESET NOD32 Antivirus.
http://www.eset.com