Date: Fri, 14 Oct 2016 15:57:25 +0100
Subject: Compliance requirements
From: "Charlotte Pawar" <charlotte@formationshouse.com>
To: "'Rachel'" <rachel@formationshouse.com>,
	"'Oliver'" <oliver@formationshouse.com>,
	"'Sarah'" <sarah@formationshouse.com>,
	"'Steve Smith \(Formations House\)'" <steve@formationshouse.com>,
	"'Felix Almeida'" <felix@formationshouse.com>,
	"'Michael Gomes'" <michaelgomes@formationshouse.com>,
	<shawn@formationshouse.com>
CC: "'Syed Fahad Waheed'" <fahad.waheed@knowledgepath.pk>

Dear Team

 

As you know we are regulated under HMRC policy for Money Laundering Regulations, as we are a business services provider.

To maintain this they expect a  high level of compliance in how we address the Know Your Customer policy

 

We have always had a high level of compliance but the UK laws are strict and getting stricter and so I have reviewed our current processes and want to just remind everyone of what we need to do

 

In terms of who our customer is:

If the director of the company is the person who places the order with us, then the director is the customer and we require the ID docs for that person and any other officer or shareholder who is appointed.

If some else such as an agent/ reseller places the order for a company with a director (not the agent themselves as the director) then we need the agents ID documents as they are paying us and therefore considered our customer, and we also need the director/ shareholder documents, 

The exception to this is if the agent is themselves regulated under MLR, and they have emailed to us stating they hold the required ID docs for the company they are incorporated with us. We will then require a scan copy of the agents MLR certificate and their ID documents. We should ensure the Passport date for the ID is valid and if it expires and the agent is still placing orders we will need to request a copy of their new passport too, and at the same time ask for new proof of address

 

Please read the attached carefully, regardless of sales or support I would like you all to know the attached information

Please all save the below link to your favourites

 

formationshouse.com/highriskjurisdiction.php 

Username: formationshouse

Password: harleystreet

 

Any questions please email

 

thanks

 

Kind Regards,

 

 <http://www.accountscentre.com/> Charlotte Pawar 

      

 

 

 

 

 

 

Harley Street, W1

 

Main Sales/Support: +44 207 255 2557

Local London: +44 207 612 4888

 

Dear Team
As you know we are regulated under HMRC policy for Money Laundering Regulations, as we are a business services provider.
To maintain this they expect a  high level of compliance in how we address the Know Your Customer policy
We have always had a high level of compliance but the UK laws are strict and getting stricter and so I have reviewed our current processes and want to just remind everyone of what we need to do
In terms of who our customer is:
If the director of the company is the person who places the order with us, then the director is the customer and we require the ID docs for that person and any other officer or shareholder who is appointed.
If some else such as an agent/ reseller places the order for a company with a director (not the agent themselves as the director) then we need the agents ID documents as they are paying us and therefore considered our customer, and we also need the director/ shareholder documents,
The exception to this is if the agent is themselves regulated under MLR, and they have emailed to us stating they hold the required ID docs for the company they are incorporated with us. We will then require a scan copy of the agents MLR certificate and their ID documents. We should ensure the Passport date for the ID is valid and if it expires and the agent is still placing orders we will need to request a copy of their new passport too, and at the same time ask for new proof of address
Please read the attached carefully, regardless of sales or support I would like you all to know the attached information
Please all save the below link to your favourites
formationshouse.com/
highriskjurisdiction.php
Username:
formationshouse
Password:
harleystreet
Any questions please email
thanks
Kind Regards,
Charlotte Pawar
Harley Street, W1
Main Sales/Support: +44 207 255 2557
Local London: +44 207 612 4888