Date: Tue, 26 Jan 2016 23:17:36 -0800 (PST)
Subject: Requirements for Document Certification, Notarization & Apostille
From: "Euro Pacific Bank" <affiliates@europacbank.com>
To: Nadya <londonadmin@formationshouse.com>

         https://europacbank.com/   
    Certification Methods   
 Certification, Notarization & Apostille      
    Certification   
 Required for Personal Documents      
     
The document should have a stamp, endorsement or a certificate displaying that it is a true copy of the original   
  
Stamps should be clear and legible, so that all relevant details are visible   
  
For personal documents, the certification should be dated within 90 days      
     https://europacbank.com/registration/?panel=2#docs  Who can certify personal documents? [ https://europacbank.com/registration/?panel=2#docs ]     
    Notarization or Apostille   
 Required for Corporate Documents      
     
Corporate documents should be notarized by a notary public   
  
For Corporate documents, notarization should be dated within 180 days      
    Can referral partners certify documents?   
 Yes, we can accept certified corporate documents from a referral partner if we have one of the following licenses on file:      
     
Copy of AML License (ex.  https://www.gov.uk/topic/business-tax/money-laundering-regulations  HMRC AML [ https://www.gov.uk/topic/business-tax/money-laundering-regulations ]in the UK)   
  
Copy of a government issued "Registered Agent" license   
  
Listed online as a "Registered Referring Agent" (ex.  http://www.ifsc.gov.bz/licensed-service-providers/list-a/  Belize [ http://www.ifsc.gov.bz/licensed-service-providers/list-a/ ],  http://www.bvifsc.vg/en-au/regulatedentities/registeredagents.aspx  BVI [ http://www.bvifsc.vg/en-au/regulatedentities/registeredagents.aspx ]&  https://www.eregistry.gov.hk/icris-ext/apps/uam52a/index?locale=en_US  Hong Kong [ https://www.eregistry.gov.hk/icris-ext/apps/uam52a/index?locale=en_US ])   
  
In-house Lawyer (copy of license, name on government website) - Licensed Solicitor in the UK      
         
    Next Email:   
 Documents in Government Registry      
    This e-mail message may contain confidential or legally privileged information and is intended only for the use of the intended recipient(s). Any unauthorized disclosure, dissemination, distribution, copying or the taking of any action in reliance on the information herein is prohibited. E-mails are not secure and cannot be guaranteed to be error free as they can be intercepted, amended, or contain viruses. Anyone who communicates with us by e-mail is deemed to have accepted these risks. Euro Pacific Bank is not responsible for errors or omissions in this message and denies any responsibility for any damage arising from the use of e-mail. Any opinion and other statement contained in this message and any attachment are solely those of the author and do not necessarily represent those of the company.            




----------------------------------------------------------------------
This email was sent by affiliates@europacbank.com to londonadmin@formationshouse.com

Not interested?Unsubscribe - http://epb.maillist-manage.com/ua/optout?od=11287eca3388ef&rd=1451f217be598&sd=1451f217720b8&n=11699e4c2436be3

Update profile -  http://epb.maillist-manage.com/ua/upc?upd=1451f2169b473&r=1451f217be598&n=11699e4c2436be3&od=11287eca3388ef
 
InterestedSubscribe- https://epb.maillist-manage.com/ua/optin?od=11287eca3388ef&rd=1451f217be598&sd=1451f217720b8&n=11699e4c2436be3
 
Impressed?Tell-A-Friend - http://epb.tell-your-friend.com/ua/forward?od=11287eca3388ef&rd=1451f217be598&sd=1451f217720b8&n=11699e4c2436be3&s=f
  
Euro Pacific Bank Limited | 111 Euro House
  |  Financial Services Center
  |  Stoney Ground
  |  Kingstown, VC0100 
  |  St. Vincent and the Grenadines 

Requirements for Document Certification, Notarization & Apostille
Can't read or see images?
View this email in a browser
Certification Methods
Certification, Notarization & Apostille
Certification
Required for Personal Documents
The document should have a stamp, endorsement or a certificate displaying that it is a true copy of the original
Stamps should be clear and legible, so that all relevant details are visible
For personal documents, the certification should be dated within 90 days
Who can certify personal documents?
Notarization
or
Apostille
Required for Corporate Documents
Corporate documents should be notarized by a notary public
For Corporate documents, notarization should be dated within 180 days
Can referral partners certify documents?
Yes, we can accept certified corporate documents from a referral partner if we have one of the following licenses on file:
Copy of AML License (ex.
HMRC AML
in the UK)
Copy of a government issued "Registered Agent" license
Listed online as a "Registered Referring Agent" (ex.
Belize
,
BVI
&
Hong Kong
)
In-house Lawyer (copy of license, name on government website) - Licensed Solicitor in the UK
Next Email:
Documents in Government Registry
This e-mail message may contain confidential or legally privileged information and is intended only for the use of the intended recipient(s). Any unauthorized disclosure, dissemination, distribution, copying or the taking of any action in reliance on the information herein is prohibited. E-mails are not secure and cannot be guaranteed to be error free as they can be intercepted, amended, or contain viruses. Anyone who communicates with us by e-mail is deemed to have accepted these risks. Euro Pacific Bank is not responsible for errors or omissions in this message and denies any responsibility for any damage arising from the use of e-mail. Any opinion and other statement contained in this message and any attachment are solely those of the author and do not necessarily represent those of the company.
This email was sent by
affiliates@europacbank.com
to
londonadmin@formationshouse.com
Not interested?
Unsubscribe
|
Update profile
| Interested
Subscribe
| Impressed?
Tell-A-Friend
Euro Pacific Bank Limited | 111 Euro House
  |  Financial Services Center
  |  Stoney Ground
  |  Kingstown, VC0100 
  |  St. Vincent and the Grenadines