Date: Tue, 4 Oct 2016 19:41:29 +0500
Subject: Requirements for VAT.
From: "Shawn Alfanso" <shawn@formationshouse.com>
To: <londonadmin@formationshouse.com>

Nadya,

 

We would need following details to process VAT Application for UKPR LTD:

 

Trading name: 

Country of Incorporation:

Date of incorporation: 

Business Address:

Post code:

 

Business phone number:

Business fax number:

Mobile phone number:

Email address:

Website address:

 

Director's Name:

Director D.O.B:

Director's Address:

Director's National Insurance Number (If UK Resident)

Director's Tax Residence Number (If Non UK Resident)

**Including identification documents.

 

Business Activity:

Date you would like to be registered from:

Value of taxable supplies that you expect to make in the next 12 months:

 

Thank you

Nadya,
We would need following details
to process VAT Application for UKPR LTD:
Trading name:
Country of Incorporation:
Date of incorporation:
Business Address:
Post code:
Business phone number:
Business fax number:
Mobile phone number:
Email address:
Website address:
Director’s Name:
Director D.O.B:
Director’s Address:
Director’s National Insurance
Number (If UK Resident)
Director’s Tax Residence Number
(If Non UK Resident)
**Including identification
documents.
Business Activity:
Date you would like to be
registered from:
Value of taxable supplies that
you expect to make in the next 12 months:
Thank you
__________ Information from ESET NOD32 Antivirus, version of virus signature database 14224 (20161004) __________
The message was checked by ESET NOD32 Antivirus.
http://www.eset.com